body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.file-upload input[type='file'] {
  display: none;
}

body {
  background-image: url('../images/background.jpg');
  /*background-position: center center;*/
  background-size: cover;
}

.rounded-lg {
  border-radius: 1rem;
}

.custom-file-label.rounded-pill {
  border-radius: 50rem;
}

.custom-file-label.rounded-pill::after {
  border-radius: 0 50rem 50rem 0;
}

.spacer-10 {
  margin: 10px 0px 0px 0px; }

.spacer-15 {
  margin: 15px 0px 0px 0px; }

.spacer-20 {
  margin: 20px 0px 0px 0px; }

.spacer-25 {
  margin: 25px 0px 0px 0px; }

.spacer-30 {
  margin: 30px 0px 0px 0px; }

.spacer-35 {
  margin: 35px 0px 0px 0px; }

.spacer-40 {
  margin: 40px 0px 0px 0px; }

.spacer-45 {
  margin: 45px 0px 0px 0px; }

.spacer-50 {
  margin: 50px 0px 0px 0px; }

.spacer-55 {
  margin: 55px 0px 0px 0px; }

.spacer-60 {
  margin: 60px 0px 0px 0px; }

.spacer-80 {
  margin: 80px 0px 0px 0px; }

.spacer-100 {
  margin: 100px 0px 0px 0px; }

.btn-dark-blue {
    background-color: #5f788a !important;
    color: #fff !important;
    border-color: #5f788a !important;
}
.btn-dark-blue:hover{
    background-color: #fff !important;
    color: #5f788a !important;
    border-color: #5f788a !important;
}

input:invalid {
  color: red;
  /* turn to red as long as pattern do not match */
}
input:invalid+b:before {
  content: 'Invalid Number';/* add text untill patterns matches */
}
input:invalid+b+[type="submit"] {
  display: none; /* hide input submit untill pattern matches */
}


.align-center{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}





