{% extends "layout.html" %}
{% block content %}
      <div class="spacer-30"></div>
      <section>
          <div class="spacer-30"></div>
      {% if votesPosted|length > 0 or votesVoted|length > 0%}
          {% if votesPosted|length > 0 %}
            <h3>Topics posted:</h3>
            <div class="spacer-30"></div>
            <div class="container bg-white shadow rounded-lg" style="opacity: 0.92">
                  <ul>
                  {% for vote in votesPosted %}
                  <div class="row" style="padding-top: 1.5rem; padding-bottom: 1.5rem">
                        <a class="align-center" href="{{url_for('votes.vote_details',vote_id=vote["id"], vote_create_time=vote["create_time"])}}">
                              <h4>{{vote["topic"]}}</h4>
                        </a>
                  </div>
                  {% endfor %}
                  </ul>
            </div>
          {% endif %}
          {% if votesVoted|length > 0 %}
            <div class="spacer-80"></div>
            <h3>Topics involved in:</h3>
            <div class="spacer-30"></div>
            <div class="container bg-white shadow rounded-lg" style="opacity: 0.92">
                  <ul>
                  {% for vote in votesVoted %}
                  <div class="row" style="padding-top: 1.5rem; padding-bottom: 1.5rem">
                        <a class="align-center" href="{{url_for('votes.vote_details',vote_id=vote["id"],vote_create_time=vote["create_time"])}}">
                              <h4>{{vote["topic"]}}</h4>
                        </a>
                  </div>
                  {% endfor %}
                  </ul>
            </div>
          {% endif %}
      {% else %}
            <h1 class="mb-4">No votes available! Start posting/voting now! </h1>
      {% endif %}
    </section>
{% endblock content %}
