{% extends "layout.html" %}
{% block content %}

    {# search bottom #}
    {# search block #}
    {# list of search result #}
    <div class="spacer-30"></div>
      <div class="content-section">
          <form method="POST" action="">
            {{ form.csrf_token }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ title }}</legend>
                <div class="form-group">
                    {{ form.vote_topic.label(class="form-control-label") }}
                    {% if form.vote_topic.errors %}
                        {{ form.vote_topic(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.vote_topic.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.vote_topic(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
                    <input class="btn btn-outline-info btn-dark-blue" type="submit" name="submit" value="Submit"/>
          </form>
      </div>

{% endblock %}
