{% extends "layout.html" %}
{% block content %}
      <div class="spacer-30"></div>
      <div class="content-section">
          <form method="POST" action="">
            {{ form.csrf_token }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Initiate a Vote</legend>
                <div class="form-group">
                    {{ form.vote_topic.label(class="form-control-label") }}
                    {% if form.vote_topic.errors %}
                        {{ form.vote_topic(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.vote_topic.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.vote_topic(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.option1.label(class="form-control-label") }}
                    {% if form.option1.errors %}
                        {{ form.option1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.option1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.option1(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.option2.label(class="form-control-label") }}
                    {% if form.option2.errors %}
                        {{ form.option2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.option2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.option2(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.option3.label(class="form-control-label") }}
                    {% if form.option3.errors %}
                        {{ form.option3(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.option3.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.option3(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.option4.label(class="form-control-label") }}
                    {% if form.option4.errors %}
                        {{ form.option4(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.option4.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.option4(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.option5.label(class="form-control-label") }}
                    {% if form.option5.errors %}
                        {{ form.option5(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.option5.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.option5(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.valid_days.label(class="form-control-label") }}
                    {% if form.valid_days.errors %}
                        {{ form.valid_days(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.valid_days.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.valid_days(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
              <div style="color: #9C1A1C">
                * is required.
              </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info btn-dark-blue") }}
            </div>

            <div class="spacer-50"></div>
        </form>
      </div>
{% endblock content %}
